:root {
  --temp-color: rgb(109, 141, 158);
}

* {
  padding: 0;
  margin: 0;
}

.petitionPage-container {
  padding: 2% 1%;
  margin: 0 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.petitionId {
  grid-column: 1 / span 3;
}

.petitionData {
  grid-column: span 2;
  grid-row: 2;
}

.petitionData > * {
  margin-bottom: 25px;
}

.importantInfo {
  grid-column: span 1;
  grid-row: 2;
}

.importantDataContainer {
  border: 0.5px solid rgba(204, 204, 204, 0.5);
}

.importantDataContainer {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.textContainer {
  margin-top: 30px;
}

.green {
  background-color: var(--green);
  color: var(--white);
}
.green:hover {
  background-color: var(--green-hover);
  color: var(--white);
}

.petitionGist_text {
  margin: 15px 0;
}

.add-to-chosen-button {
  margin: 0 auto;
}

.span-select-left-button,
.span-select-left-button:hover,
.span-select-left-button:active {
  border-radius: 3px 0px 0px 3px;
}

.span-select-right-button,
.span-select-right-button:hover,
.span-select-right-button:active {
  border-radius: 0px 3px 3px 0px;
}

.textContainer {
  margin: 15px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
}

.importantDataContainer_text {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  align-items: left;
}
