:root {
  --temp-color: rgb(109, 141, 158);
}

* {
  padding: 0;
  margin: 0;
}

.petitionPage-container {
  padding: 2% 1%;
  margin: 0 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.petitionId {
  grid-column: 1 / span 3;
}

.petitionData {
  grid-column: span 2;
  grid-row: 2;
}

.petitionData>* {
  margin-bottom: 25px;
}

.importantInfo {
  grid-column: span 1;
  grid-row: 2;
}

.importantDataContainer {
  border: 0.5px solid black;
  border-radius: 10px;
}

.importantDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;

}

.petitionGist {}