.main {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 20px 35px;
  background-color: #7f1716;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.header-logo {
  width: 165px;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.buttons-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px; 
}

a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration-color: transparent;
  color: #d9baba;
}

a:hover {
  text-decoration-color: #f5efe3;
  color: #f5efe3;
  transition-duration: 1000ms;
}

a.active {
  text-decoration-color: transparent;
  color: #f5efe3;
}

Outlet {
  flex-grow: 1;
}

footer {
  width: 100%;
  padding: 20px 35px;
  margin-bottom: 0;
  background-color: #424141;
}
