button {
  display: block;
  border-radius: 3px;
  border-width: 0;
  background-color: #f5efe3;
  color: #7f1716;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  display: block;
  background-color: #f7e0dc;
}

button:active {
  background-color: #f5efe3;
  transform: translate(0px, 0px);
}
