:root {
  --green: rgb(0, 130, 15);
  --green-hover: rgb(0, 162, 19);
  --white: rgb(255, 255, 255);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
}
